.CNav {
  width: 100%;
}

.Navbar {
  background-color: rgb(0, 0, 0);
  height: 60px;
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 10px 0;
  align-items: center;
  min-width: 320px;
  position: fixed;
  top: 0;
}

.links {
  font-size: 30px;
  text-decoration: none;
  color: white;
}

#icouse {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 5%;
}

#logoempresa {
  height: 80px;
  width: 80px;
}

#icousuario {
  height: 30px;
  width: 30px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: block;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

@media (max-width: 523px) {
  .links {
    font-size: 25px;
  }

  #logoempresa {
    height: 70px;
    width: 70px;
  }

  #icousuario {
    height: 20px;
    width: 20px;
  }

  .Navbar {
    height: 80%;
    width: 100%;
  }
}

@media (max-width: 380px) {
  .links {
    font-size: 17px;
  }

  #logoempresa {
    height: 60px;
    width: 60px;
  }

  #icousuario {
    height: 20px;
    width: 20px;
  }

  .Navbar {
    height: 70%;
    width: 100%;
  }
}
