.CNav {
<<<<<<< HEAD
  width: 100%;
  height: 85px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  min-width: 280px;
  z-index: 1;
}

.Navbar {
  height: 100%;
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
  background-color: rgb(0, 0, 0);
}

.containerLinks {
  display: none;
}

.menu {
  width: 15%;
  height: 50%;
  background-color: rgb(0, 0, 0);
  background-image: url("../Pictures/iconMenu.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border: outset 2px white;
  border-radius: 4px;
  transition: all 0.5 ease-in-out;
  cursor: pointer;
}

.menu:hover {
  transform: scale(1.1);
}

.links {
  font-size: 30px;
  text-decoration: none;
  color: white;
}

#logoempresa {
  height: 80px;
  width: 80px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  width: 50%;
  position: absolute;
  right: 0;
  top: 70px;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.dropdown-content2 {
  display: flex;
  flex-direction: column;
  width: 50%;
  position: absolute;
  right: 0;
  top: 70px;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 20px;
  font-family: "Michroma", sans-serif;
}

.dropdown-content2 a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 20px;
  font-family: "Michroma", sans-serif;
}

.dropdown-content a:hover {
  background-color: #dd8f13;
}

.dropdown-content2 a:hover {
  background-color: #dd8f13;
}

.btnUser {
  display: none;
}

@media screen and (width > 375px) {
  .menu {
    width: 60px;
    height: 60px;
  }

  .dropdown-content {
    width: 30%;
  }
}
=======
    width: 100%;
  }
 
  .Navbar {
    background-color: rgb(0, 0, 0);
    height: 100px;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    width: 80%;
    height: 50%;
    justify-content: center;
    align-items: center;
  }

  #link {
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-family: "Michroma", sans-serif;
  }

  .btnUser {
    display: flex;
    width: 80px;
    height: 80px;
    background-image: url("../Pictures/iconUser.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: none;
  }

  .dropdown-content {
    width: 20%;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }

  @media (max-width: 523px){

    .links {
      font-size: 25px;
     
    }

    #logoempresa {
      height: 70px;
      width: 70px;
    }
    
    #icousuario {
      height: 20px;
      width: 20px;
    }

    .Navbar {
      height: 80%;
      width: 100%;
    }
    
  }
  


  @media (max-width: 380px){

    .links {
      font-size: 17px;
     
    }

    #logoempresa {
      height: 60px;
      width: 60px;
    }
    
    #icousuario {
      height: 20px;
      width: 20px;
    }

    .Navbar {
      height: 70%;
      width: 100%;

    }
    
  }
>>>>>>> d54fe92c5e1ccf5bcdd1c27c15f55ac2ee9bff9e
