.ContainerCalendario {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
  row-gap: 10px;
}

.ContCalendario {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  height: 100%;
}

.react-calendar {
  width: 100%;
  height: 100%;
  background: #dd8f13;
  border: 1px solid #a0a096;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.horasServicio {
  width: 25%;
  height: 100%;
  display: flex;
  max-width: 450px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  overflow-y: auto;
}

.hora {
  width: 95%;
  padding: 10px;
  background: #f0f0f0;
  border: 1px solid #a0a096;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  font-size: 8px;
  font-family: "Michroma", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.hora:hover {
  background: green;
}

@media screen and (width >= 768px) {
  .ContainerCalendario {
    flex-direction: column;
  }
  .react-calendar {
    height: 100%;
    font-size: 20px;
  }

  .ContCalendario {
    height: 80%;
  }

  .horasServicio {
    height: 20%;
    width: 100%;
    flex-direction: row;
    overflow-x: auto;
  }

  .hora {
    font-size: 10px;
    width: 40%;
  }
}

@media screen and (width >= 1024px) and (orientation: portrait) {
  .ContainerCalendario {
    height: 95%;
  }

  .ContCalendario {
    height: 35%;
  }

  .horasServicio {
    flex-direction: column;
    padding-top: 30px;
    height: 80%;
  }
}
