@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
/*   font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal; */

* {
  margin: 0;
  padding: 0;
}

.Container_Bienvenido {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 300px;
}

.containerBg {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.bg_Bienvenido {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.textsBienvenido {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerTextos {
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 5px;
}

.containerTextos > #titleBienvenido {
  width: 300px;
  font-family: "Michroma", sans-serif;
  font-size: 20px;
  text-align: center;
}

.containerTextos > #subtitleBienvenido {
  width: 300px;
  font-family: "Michroma", sans-serif;
  font-size: 15px;
  text-align: center;
  color: #dd8f13;
}

.containerTextos > #descriptionBienvenido {
  width: 280px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 13px;
  text-align: center;
}

.ContainerButton {
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Button_Bienvenido {
  min-width: 200px;
  min-height: 60px;
  background-color: #dd8f13;
  color: white;
  font-family: "Michroma", sans-serif;
  font-size: 25px;
  border-radius: 10px;
  border-color: #808080;
}

@media screen and (width > 415px) {
  .Container_Bienvenido {
    flex-direction: row;
    height: calc(100vh - 85px);
  }

  .containerBg {
    width: 50%;
    height: 100%;
  }

  .textsBienvenido {
    width: 50%;
    height: 100%;
  }

  .containerTextos {
    height: 85%;
    row-gap: 20px;
  }

  .containerTextos > #titleBienvenido {
    width: 95%;
    max-width: 310px;
    font-size: 25px;
  }

  .containerTextos > #subtitleBienvenido {
    width: 95%;
    max-width: 310px;
    font-size: 18px;
  }

  .containerTextos > #descriptionBienvenido {
    width: 95%;
    max-width: 310px;
    min-width: 190px;
    font-size: 15px;
    text-align: justify;
  }

  .ContainerButton {
    height: 15%;
  }
  .Button_Bienvenido {
    width: 75%;
    max-width: 200px;
    font-size: 30px;
  }
}

@media screen and (width > 768px) {
  .textsBienvenido {
    width: 40%;
  }

  .containerBg {
    width: 60%;
  }

  .containerTextos {
    width: 100%;
    row-gap: 25px;
  }

  .containerTextos > #titleBienvenido {
    font-size: 25px;
    min-width: 295px;
    width: 98%;
  }

  .containerTextos > #subtitleBienvenido {
    font-size: 20px;
    min-width: 295px;
    width: 98%;
  }

  .containerTextos > #descriptionBienvenido {
    font-size: 18px;
    min-width: 295px;
    width: 98%;
  }

  .ContainerButton {
    height: 15%;
  }

  .Button_Bienvenido {
    height: 70px;
    width: 70%;
    max-width: 300px;
    font-size: 30px;
  }

  .Button_Bienvenido:hover {
    transform: scale(1.1);
  }
}

@media screen and (width > 1024px) {
  .textsBienvenido {
    width: 50%;
  }

  .containerBg {
    width: 50%;
  }

  .containerTextos {
    row-gap: 40px;
  }

  .containerTextos > #titleBienvenido {
    font-size: 35px;
    min-width: 500px;
  }

  .containerTextos > #subtitleBienvenido {
    font-size: 20px;
    min-width: 500px;
  }

  .containerTextos > #descriptionBienvenido {
    font-size: 22px;
    min-width: 500px;
  }

  .Button_Bienvenido {
    font-size: 40px;
    min-width: 350px;
    height: 100px;
  }

  .Button_Bienvenido:hover {
    transform: scale(1.1);
  }
}

@media screen and (width >= 1024px) and (orientation: landscape) {
  .Container_Bienvenido {
    height: calc(100vh - 100px);
  }

  .textsBienvenido {
    width: 50%;
  }

  .containerBg {
    width: 50%;
  }

  .containerTextos {
    row-gap: 40px;
  }

  .containerTextos > #titleBienvenido {
    font-size: 35px;
    min-width: 500px;
  }

  .containerTextos > #subtitleBienvenido {
    font-size: 20px;
    min-width: 500px;
  }

  .containerTextos > #descriptionBienvenido {
    font-size: 22px;
    min-width: 500px;
  }

  .ContainerButton {
    height: 20%;
  }

  .Button_Bienvenido {
    height: 70px;
    font-size: 35px;
  }

  .Button_Bienvenido:hover {
    transform: scale(1.1);
  }
}
