@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
/*   font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal; */

* {
  margin: 0;
  padding: 0;
}

.Container_Bienvenido {
  width: 100%;
  height: calc(100vh - 30px);
  display: flex;
  flex-direction: row;
}

.ImgBienvenido {
  width: 45%;
  height: 100%;
  background-image: url("../Pictures/bg_Bienvenido.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.textBienvenido {
  width: 55%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerTextos {
  width: 95%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
}

.containerTextos > #titleBienvenido {
  font-family: "Michroma", sans-serif;
  font-size: 45px;
  text-align: center;
}

.containerTextos > #subtitleBienvenido {
  font-family: "Michroma", sans-serif;
  font-size: 25px;
  text-align: center;
  color: #dd8f13;
}

.containerTextos > #descriptionBienvenido {
  width: 80%;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 20px;
  text-align: center;
}

.Button_Bienvenido {
  width: 350px;
  height: 80px;
  background-color: #dd8f13;
  color: white;
  font-family: "Michroma", sans-serif;
  font-size: 30px;
  border-radius: 10px;
  border-color: white;
}
