@import url("https://fonts.googleapis.com/css2?family=Vast+Shadow&display=swap");
/*   font-family: "Michroma", sans-serif;
  font-weight: 400;
  font-style: normal; */
@import url("https://fonts.googleapis.com/css2?family=Michroma&family=Vast+Shadow&display=swap");
/* font-family: "Vast Shadow", serif;
  font-weight: 400;
  font-style: normal; */

* {
  margin: 0;
  padding: 0;
  transition: all 0.5s ease;
}

.Container_Jumbotron {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url("../Pictures/file.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 100px;
  min-width: 280px;
}

.textJumbotron {
  width: 100%;
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  row-gap: 100px;
}

.Title_Jumbotron {
  width: 100%;
  font-family: "Vast Shadow", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 70px;
  color: white;
  margin-top: 30px;
}

.Subtitle_Jumbotron {
  max-width: 300px;
  font-family: "Michroma", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  color: white;
  margin-top: -110px;
}

.Description_Jumbotron {
  min-width: 327px;
  font-family: "Michroma", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 17px;
  color: white;
}

.Button_Jumbotron {
  width: 50%;
  height: 10%;
  min-width: 200px;
  max-width: 280px;
  min-height: 50px;
  font-family: "Michroma", sans-serif;
  font-size: 18px;
  color: white;
  border-radius: 10px;
  border-color: white;
  background-color: #dd8f13;
  margin-bottom: 20px;
}

@media screen and (width > 375px) and (orientation: portrait) {
  .Title_Jumbotron {
    font-size: 100px;
  }

  .Subtitle_Jumbotron {
    font-size: 40px;
  }

  .Description_Jumbotron {
    width: 360px;
    max-width: 400px;
    min-width: 70px;
    font-size: 18px;
  }

  .Button_Jumbotron {
    font-size: 25px;
    min-width: 260px;
    position: relative;
  }
}

@media screen and (width > 768px) {
  .Title_Jumbotron {
    font-size: 150px;
  }

  .Subtitle_Jumbotron {
    font-size: 50px;
  }

  .Description_Jumbotron {
    width: 460px;
    max-width: 500px;
    min-width: 70px;
    font-size: 25px;
  }

  .textJumbotron {
    row-gap: 30px;
  }

  .Button_Jumbotron {
    min-height: 100px;
    min-width: 400px;
    font-size: 30px;
  }

  .Button_Jumbotron:hover {
    transform: scale(1.1);
  }

  @media screen and (width > 768px) {
    .textJumbotron {
      row-gap: 70px;
    }
  }

  @media screen and (width >= 1024px) {
    .Container_Jumbotron {
      row-gap: 20px;
    }
    .textJumbotron {
      row-gap: 10px;
      height: 90%;
    }

    .Title_Jumbotron {
      margin-top: 50px;
      height: 150px;
    }

    .Subtitle_Jumbotron {
      font-size: 45px;
      margin-top: 10px;
      min-width: 600px;
    }

    .Button_Jumbotron {
      font-size: 32px;
    }
  }
}
